{% extends "math-tst.html" %}

{% block content %}
    <h2>Question 3:</h2>
    <form action = "/math-tst-q4" method = "post">
    <label for="q3" class="form-label ">What is 13 sqaured? (13²):</label>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="Wrong" name="q3" value="Wrong">26
            <label class="form-check-label" for="Wrong"></label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="Wrong" name="q3" value="Wrong">145
            <label class="form-check-label" for="Wrong"></label>
		</div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="Right" name="q3" value="Right">169
            <label class="form-check-label" for="Right"></label>
		</div>
    <br>    
    <input type="submit" class="btn btn-dark start" value="Next">
    </form>
{% endblock %}