{% extends "math-tst.html" %}

{% block content %}
    <h2>Question 4:</h2>
    <form action = "/math-tst-q5" method = "post">
    <label for="q4" class="form-label ">What is the area of a 14x7.5 rectangle?:</label>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="Wrong" name="q4" value="Wrong">96
            <label class="form-check-label" for="Wrong"></label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="Wrong" name="q4" value="Wrong">28
            <label class="form-check-label" for="Wrong"></label>
		</div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="Right" name="q4" value="Right">105
            <label class="form-check-label" for="Right"></label>
		</div>
    <br>    
    <input type="submit" class="btn btn-dark start" value="Next">
    </form>
{% endblock %}